*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
}

body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
}

#history{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 4px solid #2d2d36;
    background: lightgray;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;
}

#field{
    background: lightgray;
    
}

#buttons{
    background: yellow;
    display: flex;
}

#buttons button{
    width: 70px;
    height: 70px;
}

#numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#actions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.wrapper{
    background-color: #efeeee;
    width: 100%;
    height: 90vh;
    border-radius: 25px;
}



